<div class="row">
	<div class="col-xs-3">
<%= render 'users/profile', user: current_user %>
<!--メモ右側の指定に注意。そこを間違えるとエラーが発生して表示されない -->
<%= render 'books/newform', book: @book, user: @user%>
	</div>

	<div class="col-xs-9">
		<h2>Users</h2>
<!--users一覧 -->
<table class="table table-hover table-inverse">
	<thead>
		<tr>
			<th>image</th>
			<th>name</th>
			<th>follower</th>
			<th>followings</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= attachment_image_tag user, :profile_image, size: "50x50", fallback: "no-image-mini.jpg" %></td>
			<td><%= user.name%></td>
			<td><%= user.followers.count %></td>
			<td><%= user.followings.count %></td>
			<td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<!--users一覧 -->

	</div>
</div>



