<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>followers</th>
      <th>followings<th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @user.followings.each do |user| %>
    <tr>
      <td><%= attachment_image_tag user, :profile_image, size: "50x50", fallback: "no-image-mini.jpg" %></td>
      <td><%= user.name%></td>
      <td><%= user.followers.count %></td>
      <td><%= user.followings.count %></td>
      <td><%= link_to 'show', user_path(user) %></td>
    </tr>
  </tbody>
  <% end %>
</table>
