<div class="row">
  <div class="col-xs-3">

  <% if @book.errors.any? %>
    <p>error</p>
    <% @book.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>	

    <%= render 'users/profile', user: current_user %>
    <!--メモ右側の指定に注意。そこを間違えるとエラーが発生して表示されない -->

    <!--新規投稿-->
    <%= render 'books/newform', book: @book, user: @user %>
  </div>

  <div class="col-xs-9">
  <!--検索機能-->
  <%= render 'search/search_for', model: @model, content: @content, datas: @datas%>

    <h2>Books</h2>
    <!--books一覧 -->
    <%= render 'index', books: @books%>

  </div>
</div>